@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

#home {
    background: url('./asset/home/background-home-desktop.jpg') lightgray 0px 0px / 100% 100% no-repeat;
}

.header {
    position: fixed;
    top: 0;
    left: 5%;
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .nav{
    width: 900px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    -webkit-backdrop-filter: blur(40.774227142333984px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20%;
    padding-left: 5%;
    z-index: 1;
}



.nav a{
    position: relative;
    font-size: 1em;
    font-family: 'Barlow Condensed', sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration: none;    
}

.nav a::before {
    content: '';
    position: absolute;
    top: 290%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.nav a:hover::before {
    width: 100%;
}

.header .rectangle {
    height: 1px;
    width: 480px;
    margin-left: 6%;
    background-color: #fff;
    opacity: 0.2515;
    position: absolute;
    z-index: 2;
}

.text-content {
    position: fixed;
    top: 45%;
    left: 10%;
}


.text-content .intro,
.intro-title {
    color: #d0d6f9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    
}

.text-content .title {
    color: #fff;
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2%;
}

.text-content .content {
    width: 444px;
    color: #d0d6f9;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.outer-container {
    display: inline-block;
    position: fixed;
    top: 50.2%;
    left: 67.2%;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    z-index: 1;
}

.explore {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 70%;
    background: #fff;
    width: 260px;
    height: 264px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: border 0.3s ease, background-color 0.3s ease;
}


.outer-container:hover {
    border: 90px solid rgba(255, 254, 254, 0.3);
}


.explore h1 {
    text-align: center;
    color: #0B0D17;
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}


#destination,
#mars,
#europa,
#titan {
    background: url('./asset/destination/background-destination-desktop.jpg') lightgray 0px 0px / 100% 100% no-repeat;
}

.sec-1, 
.sec-2 {
    width: 445px;
}

.title-con {
    width: 445px;
    position: fixed;
    top: 27%;
    left: 11%;
    
}

.intro-title {
    color: #fff;
    width: 100%;
    font-size: 28px;
}

.num-title {
    opacity: 0.5;
    margin-right: 5%;
}

.moon-pic,
.mars-pic,
.europa-pic,
.titan-pic {
    position: fixed;
    top: 42%;
    left: 15%;
    width: 450px;
    height: 450px;
}

.moon-pic {
    background: url('./asset/destination/image-moon.png') no-repeat;
    background-size: 72%;
}

.sec-2,
.sec-2 .text-content {
    position: fixed;
    top: 32%;
    left: 50%;
    display: flex;
    flex-direction: column;
}


.sec-2 .navbar .nav {
    background: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    justify-content: flex-start;
    gap: 5%;
    
}

.sec-2 .navbar .nav a::before {
    top: 150%;
}

.sec-2 .text-content {
    top: 44%;
    left: 51%;
}

.sec-2 .text-content .title {
    font-size: 5rem;
}

.sec-2 hr {
    position: fixed;
    top: 77%;
    left: 51%;
    height: 1px;
    width: 444px;
    opacity: 0.2515;
}

.travel-time {
    position: fixed;
    top: 79.5%;
    left: 51%;
    display: flex;
    gap: 20%;
    width: 444px;
   
}

.distance,
.time {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.dis-title,
.tim-title {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.362px;
}

.km,
.days {
    color: #FFF;
    font-family: 'Bellefair' sans-serif;
    font-size: 28px;
}

.mars-pic {
    background: url('./asset/destination/image-mars.png') no-repeat;
    background-size: 72%;
    
}

.europa-pic {
    background: url('./asset/destination/image-europa.png') no-repeat;
    background-size: 72%;
}

.titan-pic {
    background: url('./asset/destination/image-titan.png') no-repeat;
    background-size: 72%;
}

#commander,
#engineer,
#pilot,
#specialist {
    background: url('./asset/crew/background-crew-desktop.jpg')  lightgray 0px 0px / 100% 100% no-repeat;
}


.text-content span {
    color: white;
    font-family: 'Bellefair', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.crew-text .crew-title {
    font-size: 3.5rem;
}

.crew-title-con,
.crew-text{
    left: 11%;
}


.crew-text .crew-title {
    margin-top: 2%;
}

#commander .crew-pic .pic {
    background: url('./asset/crew/image-douglas-hurley.png') no-repeat;
    background-size: 80%;
}

#specialist .crew-pic .pic {
    background: url('./asset/crew/image-mark-shuttleworth.png') no-repeat;
    background-size: 75%;
}

#pilot .crew-pic .pic {
    background: url('./asset/crew/image-victor-glover.png') no-repeat;
    background-size: 85%;
    top: 33%;
}

#engineer .crew-pic .pic {
    background: url('./asset/crew/image-anousheh-ansari.png') no-repeat;
    top: 30%;
    left: 52%;
}

.crew-pic .pic {
    width: 568px;
    height: 712px;
    position: fixed;
    top: 27%;
    left: 60%;
}

.crew-nav {
    position: fixed;
    top: 90%;
    left: 11%;
    width: 130px;
    height: 15px;
    cursor: pointer;
}
